In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('customers_one_hot_encoded.csv')

In [ ]:
df.head()

,Unnamed: 0,customer_id,FN,Active,age,postal_code,price,club_member_status_ACTIVE,club_member_status_LEFT CLUB,club_member_status_NONE,club_member_status_PRE-CREATE,fashion_news_frequency_Monthly,fashion_news_frequency_None,fashion_news_frequency_Regularly
0,0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0.0,0.0,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...,0.648983,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0.0,0.0,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...,2.601932,1.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0.0,0.0,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...,0.704780,1.0,0.0,0.0,0.0,0.0,1.0,0.0
3,3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,0.0,0.0,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...,0.060983,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...,0.469695,1.0,0.0,0.0,0.0,0.0,0.0,1.0

## Perform random undersampling was done on the “club_member_status” (Active) column

In [ ]:
X = df.drop('club_member_status_ACTIVE', axis = 1)
y = df['club_member_status_ACTIVE']

In [ ]:
X.head(3)

,Unnamed: 0,customer_id,FN,Active,age,postal_code,price,club_member_status_LEFT CLUB,club_member_status_NONE,club_member_status_PRE-CREATE,fashion_news_frequency_Monthly,fashion_news_frequency_None,fashion_news_frequency_Regularly
0,0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,0.0,0.0,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...,0.648983,0.0,0.0,0.0,0.0,1.0,0.0
1,1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,0.0,0.0,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...,2.601932,0.0,0.0,0.0,0.0,1.0,0.0
2,2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0.0,0.0,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...,0.704780,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
y.head(3)

0    1.0
1    1.0
2    1.0
Name: club_member_status_ACTIVE, dtype: float64

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df.isnull().sum()

Unnamed: 0                          0
customer_id                         0
FN                                  0
Active                              0
age                                 0
postal_code                         0
price                               0
club_member_status_ACTIVE           0
club_member_status_LEFT CLUB        0
club_member_status_NONE             0
club_member_status_PRE-CREATE       0
fashion_news_frequency_Monthly      0
fashion_news_frequency_None         0
fashion_news_frequency_Regularly    0
dtype: int64

In [ ]:
from imblearn.under_sampling import RandomUnderSampler

under = RandomUnderSampler(sampling_strategy=1) 
                     
X_smote, y_smote = under.fit_resample(X, y)

In [ ]:
new_df_undersampled = pd.concat([X_smote, y_smote], axis=1)

In [ ]:
new_df_undersampled = new_df_undersampled.iloc[: , 1:]