# 1 Combine datasets so EDA can be performed on final dataset

## 1.1 Import libraries

In [1]:
import pandas as pd

## 1.2 Read all relevant data

In [2]:
# Read all data
print('-----Initial dataframes----')
articles = pd.read_csv('data/articles.csv')
print('Articles Dataframe shape:',articles.shape)
print('Articles Columns:',list(articles.columns))

customers = pd.read_csv('data/customers.csv')
print('\nCustomers Dataframe shape:',customers.shape)
print('Customers Columns:',list(customers.columns))

transactions = pd.read_csv('data/transactions_train.csv')
print('\nTransactions Dataframe shape:',transactions.shape)
print('Transactions Columns:',list(transactions.columns))

-----Initial dataframes----
Articles Dataframe shape: (105542, 25)
Articles Columns: ['article_id', 'product_code', 'prod_name', 'product_type_no', 'product_type_name', 'product_group_name', 'graphical_appearance_no', 'graphical_appearance_name', 'colour_group_code', 'colour_group_name', 'perceived_colour_value_id', 'perceived_colour_value_name', 'perceived_colour_master_id', 'perceived_colour_master_name', 'department_no', 'department_name', 'index_code', 'index_name', 'index_group_no', 'index_group_name', 'section_no', 'section_name', 'garment_group_no', 'garment_group_name', 'detail_desc']

Customers Dataframe shape: (1371980, 7)
Customers Columns: ['customer_id', 'FN', 'Active', 'club_member_status', 'fashion_news_frequency', 'age', 'postal_code']

Transactions Dataframe shape: (31788324, 5)
Transactions Columns: ['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id']

In [3]:
# Subset relevant columns
print('-----Filtered dataframes----')

articles_cols = ['article_id', 'prod_name', 'product_type_name', 'product_group_name', \
                 'graphical_appearance_name', 'colour_group_name', \
                 'perceived_colour_value_name', 'perceived_colour_master_name', \
                 'department_name', 'index_name', 'index_group_name', 'section_name', \
                 'garment_group_name', 'detail_desc']
articles = articles.loc[:,articles_cols]

customers_cols = ['customer_id', 'Active', 'club_member_status', 'fashion_news_frequency', 'age', 'postal_code']
customers = customers.loc[:,customers_cols]

print('Articles Dataframe shape:',articles.shape)
print('Articles Columns:',list(articles.columns))

print('\nCustomers Dataframe shape:',customers.shape)
print('Customers Columns:',list(customers.columns))

print('\nTransactions Dataframe shape:',transactions.shape)
print('Transactions Columns:',list(transactions.columns))

-----Filtered dataframes----
Articles Dataframe shape: (105542, 14)
Articles Columns: ['article_id', 'prod_name', 'product_type_name', 'product_group_name', 'graphical_appearance_name', 'colour_group_name', 'perceived_colour_value_name', 'perceived_colour_master_name', 'department_name', 'index_name', 'index_group_name', 'section_name', 'garment_group_name', 'detail_desc']

Customers Dataframe shape: (1371980, 6)
Customers Columns: ['customer_id', 'Active', 'club_member_status', 'fashion_news_frequency', 'age', 'postal_code']

Transactions Dataframe shape: (31788324, 5)
Transactions Columns: ['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id']

## 1.3 Combine tables by performing Join

### 1.3.1 Join articles & transactions on article_id

In [4]:
df = pd.merge(transactions, articles, on=['article_id'])
print('Dataframe shape:',df.shape)
print('Columns:',list(df.columns))
df.head(2)

Dataframe shape: (31788324, 18)
Columns: ['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id', 'prod_name', 'product_type_name', 'product_group_name', 'graphical_appearance_name', 'colour_group_name', 'perceived_colour_value_name', 'perceived_colour_master_name', 'department_name', 'index_name', 'index_group_name', 'section_name', 'garment_group_name', 'detail_desc']

,t_dat,customer_id,article_id,price,sales_channel_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,index_group_name,section_name,garment_group_name,detail_desc
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
1,2018-09-20,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,0.049475,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."

In [5]:
# Check articles
articles[articles['article_id']==663713001]

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,index_group_name,section_name,garment_group_name,detail_desc
40179,663713001,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."

In [6]:
# Check transactions
transactions[transactions['article_id']==663713001].head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
10026,2018-09-20,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,0.049475,2
14906,2018-09-20,4ef5967ff17bf474bffebe5b16bd54878e1d4105f7b4ed...,663713001,0.050831,2
20662,2018-09-20,6b7b10d2d47516c82a6f97332478dab748070f09693f09...,663713001,0.050831,1
26426,2018-09-20,8ac137752bbe914aa4ae6ad007a9a0c5b67a1ab2b2d474...,663713001,0.050831,2

In [7]:
# Check combined_df of articles & transformations
df[df['article_id']==663713001].head()

,t_dat,customer_id,article_id,price,sales_channel_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,index_group_name,section_name,garment_group_name,detail_desc
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
1,2018-09-20,3681748607f3287d2c3a65e00bb5fb153de30e9becf158...,663713001,0.049475,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
2,2018-09-20,4ef5967ff17bf474bffebe5b16bd54878e1d4105f7b4ed...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
3,2018-09-20,6b7b10d2d47516c82a6f97332478dab748070f09693f09...,663713001,0.050831,1,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
4,2018-09-20,8ac137752bbe914aa4ae6ad007a9a0c5b67a1ab2b2d474...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."

### 1.3.2 Join customers & edited transactions on customer_id

In [8]:
df_final = pd.merge(df, customers, on=['customer_id'])
print('Dataframe shape:',df_final.shape)
print('Columns:',list(df_final.columns))
df_final.head(2)

Dataframe shape: (31788324, 23)
Columns: ['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id', 'prod_name', 'product_type_name', 'product_group_name', 'graphical_appearance_name', 'colour_group_name', 'perceived_colour_value_name', 'perceived_colour_master_name', 'department_name', 'index_name', 'index_group_name', 'section_name', 'garment_group_name', 'detail_desc', 'Active', 'club_member_status', 'fashion_news_frequency', 'age', 'postal_code']

,t_dat,customer_id,article_id,price,sales_channel_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,...,index_name,index_group_name,section_name,garment_group_name,detail_desc,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,...,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa...",NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
1,2018-09-24,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,...,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa...",NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...

In [9]:
df_final.loc[0,'customer_id']

'000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318'

In [10]:
# Check customers
customers[customers['customer_id']=='000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318'].head()

,customer_id,Active,club_member_status,fashion_news_frequency,age,postal_code
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...

In [11]:
# Check combined df of articles and transformations
df[df['customer_id']=='000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318'].head()

,t_dat,customer_id,article_id,price,sales_channel_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,index_group_name,section_name,garment_group_name,detail_desc
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
26,2018-09-24,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,Dark,Black,Expressive Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa..."
633,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,Rae Push (Melbourne) 2p,Bra,Underwear,Solid,Light Pink,Dusty Light,Pink,Casual Lingerie,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up bras with underwired, moulded, pa..."
1963854,2019-03-01,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,578020002,0.013542,2,Pluto OTS,Blouse,Garment Upper body,Stripe,Light Blue,Light,Blue,Blouse,Ladieswear,Ladieswear,Womens Casual,Blouses,Off-the-shoulder top in a cotton weave with el...
2939706,2020-02-03,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,351484002,0.022017,2,Lazer Razer Brief,Swimwear bottom,Swimwear,Solid,Black,Dark,Black,Swimwear,Lingeries/Tights,Ladieswear,"Womens Swimwear, beachwear",Swimwear,"Fully lined bikini bottoms with a mid waist, m..."

In [12]:
# Check final combined df of customers and edited transformations
df_final[df_final['customer_id']=='000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318'].head()

,t_dat,customer_id,article_id,price,sales_channel_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,...,index_name,index_group_name,section_name,garment_group_name,detail_desc,Active,club_member_status,fashion_news_frequency,age,postal_code
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,...,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa...",NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
1,2018-09-24,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2,Atlanta Push Body Harlow,Underwear body,Underwear,Solid,Black,...,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up body with underwired, moulded, pa...",NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
2,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2,Rae Push (Melbourne) 2p,Bra,Underwear,Solid,Light Pink,...,Lingeries/Tights,Ladieswear,Womens Lingerie,"Under-, Nightwear","Lace push-up bras with underwired, moulded, pa...",NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,2019-03-01,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,578020002,0.013542,2,Pluto OTS,Blouse,Garment Upper body,Stripe,Light Blue,...,Ladieswear,Ladieswear,Womens Casual,Blouses,Off-the-shoulder top in a cotton weave with el...,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
4,2020-02-03,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,351484002,0.022017,2,Lazer Razer Brief,Swimwear bottom,Swimwear,Solid,Black,...,Lingeries/Tights,Ladieswear,"Womens Swimwear, beachwear",Swimwear,"Fully lined bikini bottoms with a mid waist, m...",NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...

### 1.3.3 Export joined tables into CSV

In [13]:
print('-----Exporting final dataframe-----')
print('Final Dataframe shape:',df_final.shape)
print('Final Columns:',list(df_final.columns))

-----Exporting final dataframe-----
Final Dataframe shape: (31788324, 23)
Final Columns: ['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id', 'prod_name', 'product_type_name', 'product_group_name', 'graphical_appearance_name', 'colour_group_name', 'perceived_colour_value_name', 'perceived_colour_master_name', 'department_name', 'index_name', 'index_group_name', 'section_name', 'garment_group_name', 'detail_desc', 'Active', 'club_member_status', 'fashion_news_frequency', 'age', 'postal_code']

In [14]:
df_final.to_csv('final_df.csv',index=False)
print('Final combined dataframe exported successfully!')

OSError: [Errno 28] No space left on device

# 2 Exploratory Data Analysis on H&M Data

## 2.1 Import libraries and read data

In [ ]:
import pandas as pd
import matplotlib
import numpy as np
import seaborn as sns

from matplotlib import pyplot as plt

In [ ]:
df = pd.read_csv('final_df.csv')
print('Shape:',df.shape)
print('Columns:',df.columns)
df.head()

## 2.2 Preliminary data checks & Basic statistical analysis

In [ ]:
# Check null values
for col in df.columns:
    print("Number of Null Values in", col, ": ", len(df[df[col].isna()]), "/", len(df))

In [ ]:
# Replace na values
df['detail_desc'] = df['detail_desc'].fillna('')
df['Active'] = df['Active'].fillna(0)
df['club_member_status'] = df['club_member_status'].fillna('NONE')
df['fashion_news_frequency'] = df['fashion_news_frequency'].fillna('None')
df['fashion_news_frequency'] = df['fashion_news_frequency'].replace(['NONE'],'None')
df['detail_desc'] = df['detail_desc'].fillna('')
df = df.dropna(subset=['age'])

# Check null values
for col in df.columns:
    print("Number of Null Values in", col, ": ", len(df[df[col].isna()]), "/", len(df))

In [ ]:
# Check data types
df.dtypes

In [ ]:
# Convert datatypes to suitable datatypes
df = df.astype({'t_dat':'datetime64[ns]',
                'customer_id':'str',
                'article_id':'str',
                'price':'float',
                'sales_channel_id':'str',
                'prod_name':'category',
                'product_type_name':'category',
                'product_group_name':'category',
                'graphical_appearance_name':'category',
                'colour_group_name':'category',
                'perceived_colour_value_name':'category',
                'perceived_colour_master_name':'category',
                'department_name':'category',
                'index_name':'category',
                'index_group_name':'category',
                'section_name':'category',
                'garment_group_name':'category',
                'detail_desc':'str',
                'Active':'category',
                'club_member_status':'category',
                'fashion_news_frequency':'category',
                'age':'int64',
                'postal_code':'category'})
df.dtypes

In [ ]:
df.info()

In [ ]:
# Check description
df.describe()

## 2.3 Correlation analysis

In [ ]:
corr = df.corr()
corr

In [ ]:
# ax = sns.heatmap(df, linewidth = 0.5, cmap = 'coolwarm' )
  
# plt.title( "2-D Heat Map" )
# plt.show()

# > Kernel dies

## 2.4 Data Distribution
3 types: 
    (1) Categorical variables 
    (2) Numerical/Continuous variables 
    (3) Date variables

In [ ]:
cat_var = ['prod_name', 'product_type_name', 'product_group_name', \
           'graphical_appearance_name', 'colour_group_name', \
           'perceived_colour_value_name', 'perceived_colour_master_name', \
           'department_name', 'index_name', 'index_group_name', 'section_name', \
           'garment_group_name', 'club_member_status', 'fashion_news_frequency', \
           'postal_code']

In [ ]:
num_var = ['price', 'age']

In [ ]:
date_var = ['t_dat']

### 2.4.1 Distribution of Categorical Variables
Categorical Variables: 
- [prod_name, product_type_name, product_group_name, graphical_appearance_name, colour_group_name, perceived_colour_value_name, perceived_colour_master_name, department_name, index_name, index_group_name, section_name, garment_group_name, club_member_status, fashion_news_frequency, postal_code]

In [ ]:
def countplot(df, var_col, xticklabels, rank, rotate=False, horizontal=False):
    plt.figure(figsize=(10,5))
    if not horizontal:
        ax = sns.countplot(x=var_col, data=df)
        ax.set(xlabel=var_col, ylabel='Count')
        for p in ax.patches:
            ax.annotate(p.get_height(), 
                        (p.get_x() + p.get_width() / 2., p.get_height()), 
                        ha='center', 
                        va='center', 
                        xytext=(0, 10), 
                        textcoords='offset points')
            
        ax.set_xticklabels(xticklabels)
        ax.get_xaxis().set_major_formatter(
            matplotlib.ticker.FuncFormatter(lambda x, p: format(int(x), ',')))
        if rotate:
            plt.xticks(rotation=90)

        max_height = max([x.get_height() for x in ax.patches])    
        plt.ylim(0, max_height*1.25)
        plt.title(f'Distribution of {var_col}')
    else:
        if rank == 'top 10':
            ax = sns.countplot(y=var_col, data=df, order=df[var_col].value_counts().iloc[:10].index)
            ax.set(xlabel='Count', ylabel=f'Top 10 {var_col}')
            
        elif rank == 'bottom 10':
            ax = sns.countplot(y=var_col, data=df, order=df[var_col].value_counts().iloc[-10:].index)
            ax.set(xlabel='Count', ylabel=f'Bottom 10 {var_col}')
            
        for p in ax.patches:
            ax.annotate(format(p.get_width(), '.0f'), 
            (p.get_x() + p.get_width() + 7, p.get_y() + p.get_height()), ha='center', va='center', 
            xytext=(25, 10), textcoords='offset points')

        ax.get_xaxis().set_major_formatter(
            matplotlib.ticker.FuncFormatter(lambda x, p: format(int(x), ',')))
        max_width = max([x.get_width() for x in ax.patches])    
        plt.xlim(0, max_width*1.25)
        plt.title(f'Distribution of {var_col}')
        plt.show()

In [ ]:
# Get Top 10 and Bottom 10 of all categorical variables
# - prod_name and postal_code have only count 1 for items in the bottom 10
for var in cat_var:
    print('Variable:', var)
    if (len(list(df[var].unique())) <= 10) or var in ['prod_name', 'postal_code']:
        countplot(df, var, [], 'top 10', horizontal=True)
    else: # len(list(df[var].unique())) > 10 > variables with more than 10 types
        for rank in ['top 10', 'bottom 10']:
            countplot(df, var, [], rank, horizontal=True)
    print('-------------')

In [ ]:
def bottom_cats(var):
    total_count = 0
    for count, index_name in zip(list(df[var].value_counts()), list(df[var].value_counts().index)):
        total_count += 1
        if count == 1:
            print(index_name, count)
    print('Total number of records with count 1:',total_count)

In [ ]:
# Check types for 'prod_name' and 'postal_code' with count 1
for var in ['prod_name', 'postal_code']:
    print('Variable:', var)
    bottom_cats(var)
    print('-------------\n')

### 2.4.2 Distribution of Continuous Variables
- [price, age]

In [ ]:
def hist_boxplot(df, var_col):
    fig, axes = plt.subplots(1, 2, figsize=(12, 4))

    df.hist(column=[var_col], bins=10, ax=axes[0])
    axes[0].set_title(f'Distribution of {var_col} using Histogram')
    axes[0].get_yaxis().set_major_formatter(
            matplotlib.ticker.FuncFormatter(lambda x, p: format(int(x), ',')))

    df.boxplot(column=[var_col], return_type='axes', ax=axes[1])
    axes[1].set_title(f'Distribution of {var_col} using Boxplot')

    plt.show()

In [ ]:
df['price'].value_counts().iloc[:10]

In [ ]:
df['price'].value_counts().iloc[:10].index

In [ ]:
hist_boxplot(df, 'price')

In [ ]:
df['price'].describe()

In [ ]:
hist_boxplot(df, 'age')

In [ ]:
df['age'].describe()

### 2.4.3 Distribution of Date Variables
- [t_dat]
- Obtain the number of transactions over the years to see if there are any seasonal trends

In [ ]:
def barplot(df, var_col, title=None):
    plt.figure(figsize=(10,5))
    ax = sns.barplot(x=var_col, y='Counts', data=df)
    for p in ax.patches:
        ax.annotate(p.get_height()/1000000, 
                    (p.get_x() + p.get_width() / 2., p.get_height()), 
                    ha='center', 
                    va='center', 
                    xytext=(0, 10), 
                    textcoords='offset points')

    max_height = max([x.get_height() for x in ax.patches])    
    plt.ylim(0, max_height*1.25)
    ax.get_yaxis().set_major_formatter(
        matplotlib.ticker.FuncFormatter(lambda x, p: format(int(x)/1000000, ',')))

    if title:
        ax.set_title(title)
    else:
        ax.set_title(f'Distribution for {var_col}')

In [ ]:
# Distribution for all years
df_grouped = df['t_dat'].groupby(df['t_dat'].dt.year).size().reset_index(name='Counts')
barplot(df_grouped, 't_dat', 'Distribution for All Years in t_dat (in mil)')

In [ ]:
# Distribution within year (Year = 2018)
tdat_2018 = df[df['t_dat'].dt.year == 2018]
df_grouped = tdat_2018['t_dat'].groupby(tdat_2018['t_dat'].dt.month).size().reset_index(name='Counts')
barplot(df_grouped, 't_dat', 'Distribution for Year=2018 in t_dat (in mil)')

In [ ]:
# Distribution within year (Year = 2019)
tdat_2019 = df[df['t_dat'].dt.year == 2019]
df_grouped = tdat_2019['t_dat'].groupby(tdat_2019['t_dat'].dt.month).size().reset_index(name='Counts')
barplot(df_grouped, 't_dat', 'Distribution for Year=2019 in t_dat (in mil)')

In [ ]:
# Distribution within year (Year = 2020)
tdat_2020 = df[df['t_dat'].dt.year == 2020]
df_grouped = tdat_2020['t_dat'].groupby(tdat_2020['t_dat'].dt.month).size().reset_index(name='Counts')
barplot(df_grouped, 't_dat', 'Distribution for Year=2020 in t_dat (in mil)')

## 2.5 Relationship between Categorical Variables
Use the broadest category of each section: (otherwise too many)
- product_group_name, graphical_appearance_name, perceived_colour_master_name, index_group_name, garment_group_name, club_member_status, fashion_news_frequency
- Compare club_member_status vs the rest, and
- Compare fashion_news_frequency vs the rest

In [ ]:
def cross_tab(df, indep_col, dep_cols):
    for dep_col in dep_cols:
        ct = pd.crosstab(df[indep_col], df[dep_col], normalize='index')
        print(ct)

In [ ]:
df.loc[:,cat_var].head()

In [ ]:
# Find unique items in broad categories
broad_cat = ['product_group_name', 'graphical_appearance_name',\
             'perceived_colour_master_name', 'index_group_name', \
             'garment_group_name', 'club_member_status', \
             'fashion_news_frequency']

for var in broad_cat:
    print('Variable:',var)
    print('Number of unique variables:',len(list(df[var].unique())))
    print(list(df[var].unique()))
    print('-------------')

In [ ]:
cross_tab(df, 'club_member_status', \
          ['product_group_name', 'graphical_appearance_name', \
           'perceived_colour_master_name','index_group_name', \
           'garment_group_name'])

In [ ]:
cross_tab(df, 'fashion_news_frequency', \
          ['product_group_name', 'graphical_appearance_name', \
           'perceived_colour_master_name','index_group_name', \
           'garment_group_name'])

In [ ]:
# Check for r/s btw club_member_status & fashion_news_frequency
cross_tab(df, 'club_member_status', ['fashion_news_frequency'])

## 2.6 Relationship of each variable with Price

In [ ]:
df['price'] = pd.to_numeric(df.price, errors='coerce')

### 2.6.1 Relationship of categorical variables with Price using Average

In [ ]:
for var in cat_var:
    print('Variable:',var)
    
    # Subset relevant column with Price
    df_m = df.loc[:,[var,'price']]
    
    # Group by column and use average
    df_m = df_m.groupby([var]).mean()
    
    # Plot heatmap
    fig, ax = plt.subplots(figsize=(11, 9))
    sns.heatmap(df_m)
    plt.show()
    
    print('-------------\n')

### 2.6.2 Relationship of categorical variables with Price using Median

In [ ]:
for var in cat_var:
    print('Variable:',var)
    
    # Subset relevant column with Price
    df_m = df.loc[:,[var,'price']]
    
    # Group by column and use average
    df_m = df_m.groupby([var]).median()
    
    # Plot heatmap
    fig, ax = plt.subplots(figsize=(11, 9))
    sns.heatmap(df_m)
    plt.title('Heatmap of {var} with Price', loc='center')
    plt.show()
    
    print('-------------\n')

### 2.6.3 Relationship of continuous variables with Price (just Age)

In [ ]:
# By actual age
plt.scatter(df['age'], df['price'])
plt.ylabel("Price")
plt.xlabel('Age')
plt.xticks(rotation=90)
plt.title('Scatter plot of Price against Age')
plt.show()

In [ ]:
# By age range (in bins)
df_m = df.loc[:,['age','price']]

bins = [-1, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
labels = ['Invalid','10-19', '20-29', '30-39', '40-49', '50-59', '60-69', \
          '70-79', '80-89', '90-99']
df_m['age_range'] = pd.cut(df_m.age,bins,labels = labels,include_lowest = True)

plt.scatter(df_m['age_range'], df_m['price'])
plt.ylabel("Price")
plt.xlabel('Age')
plt.xticks(rotation=90)
plt.title('Scatter plot of Price against Age')
plt.show()

In [ ]:
df_m = df_m.drop(columns=['age'])
df_m = df_m.groupby(['age_range']).mean()

fig, ax = plt.subplots(figsize=(11, 9))
sns.heatmap(df_m)
plt.title('Heatmap of Age Range with Price', loc='center')
plt.show()

### 2.6.4 Relationship of date variables with Price (just Transaction Date)

Using Average

In [ ]:
# create a copy of the dataframe, and add columns for month and year
df_m = df.loc[:,['t_dat','price']]
df_m['month'] = [i.month for i in df_m['t_dat']]
df_m['year'] = [i.year for i in df_m['t_dat']]

# group by month and year, get the average
df_m = df_m.groupby(['month', 'year']).mean()
df_m.head()

In [ ]:
df_m = df_m.unstack(level=0)
df_m.head()

In [ ]:
fig, ax = plt.subplots(figsize=(11, 9))
sns.heatmap(df_m)
plt.title('Heatmap of Transaction Date with Price', loc='center')
plt.show()

Using Median

In [ ]:
# create a copy of the dataframe, and add columns for month and year
df_m = df.loc[:,['t_dat','price']]
df_m['month'] = [i.month for i in df_m['t_dat']]
df_m['year'] = [i.year for i in df_m['t_dat']]

# group by month and year, get the average
df_m = df_m.groupby(['month', 'year']).median()
df_m.head()

In [ ]:
df_m = df_m.unstack(level=0)
df_m.head()

In [ ]:
fig, ax = plt.subplots(figsize=(11, 9))
sns.heatmap(df_ms
plt.title('Heatmap of Transaction Date with Price', loc='center')
plt.show()